body {
    font-family: 'Bitter', serif;
    margin: 0;
}

.hero {
    align-self: center;
    justify-self: center;
}

.about-me {
    text-align: center;
    align-self: center;
    justify-self: center;
}

article h1,
.story-body {
    align-self: center;
    justify-self: center;
}

form {
    font-family: 'Bitter', serif;
    font-weight: 200;
    font-style: italic;
    position: relative;
    margin: 0;
}

input {
    height: 2.5em;
    max-width: 100%;
    vertical-align: middle;
}

input:focus,
textarea:focus {
    background-color: aqua;
    border-radius: 5px;
    outline: none;
}

legend {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

textarea {
    height: 5em;
    width: 48rem;
    vertical-align: top;
    max-width: 100%;
    display: block;
    resize: none;
    overflow: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

/*  grids */

main {
    display: grid;
}

/* hero content */

.content {
    display: grid;
    align-self: center;
    justify-self: center;
}


/*  gallery */

.gallery {
    display: grid;
}

figure {
    display: grid;
}

figure .food {
    align-self: center;
    justify-self: center;
}

/*  article */

article {
    display: grid;
}

/* formcontainer */


/* footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

    /*  hero content & about-content*/

    content {
        grid-template-columns: 1fr 8fr 1fr;
    }

    .content picture,
    .content p {
        grid-column: 2/3;
        text-align: left;
    }

    .mobile-first {
        display: none;
    }

    /*	gallery */

    .gallery {
        grid-template-columns: 1fr 20fr 1fr;
    }

    .gallery h3,
    .gallery figure {
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
    }

    figure {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    /*	article */

    article {
        grid-template-columns: 1fr 48ch 1fr;
    }

    article h1,
    .story-body {
        grid-column: 2/3;
    }

    article h1 {
        align-self: center;
        justify-self: center;
    }

    /*	form */

    .form-container {
        display: grid;
        grid-template-columns: 1fr 48rem 1fr;
    }

    .form-container h1,
    .form-container form {
        grid-column: 2/3;
    }


    .form-container h1 {
        align-self: center;
        justify-self: center;
    }
}

/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {

    /*  hero content */

    /*	about content */

    /*	gallery */
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "gallery-title gallery-title gallery-title"
            "fig1 fig2 fig3";
    }

    .gallery h3 {
        grid-area: gallery-title;
    }

    section .fig1 {
        grid-area: fig1;
    }

    section .fig2 {
        grid-area: fig2;
    }

    section .fig3 {
        grid-area: fig3;
    }

    figure .food {
        align-self: center;
        justify-self: center;
    }
}

/*	article */

/*	form */
